.header-row {
    background: black;
    color: #fff;
    font-size: 18px;
  }
  
  ion-col {
    border: 1px solid #ECEEEF;
  }

  .form-control{
   
      font-size: 12px;
      line-height: 1.2;
      letter-spacing: 0.1px;
      color: #29235e;
      max-width: 100% !important;
      justify-content: center;
      background-color: #ffffff;
      text-align: center;
  }
