.header-row {
    background: black;
    color: #fff;
    font-size: 18px;
  }
  
  ion-col {
    border: 1px solid #ECEEEF;
  }

  .text{
    font-size: 18px;
    }

    .texto{text-align:center;border:1px dotted #f00; padding:8px;}
		div{width:90%;border:1px dotted #f00;padding:8px;margin:auto;}
		center{margin:16px 0;}